@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body{
    background: linear-gradient(to right, #2ed573 , #f9ca24);
    overflow-x: hidden;
}

.container{
    background: #fff;
    width: 540px;
    height: 450px;
    margin: 0 auto;
    position: relative;
    margin-top: 10%;
    box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5);
}

.leftbox{
    float: left;
    top: -5%;
    left: 5%;
    position: absolute;
    width: 15%;
    height: 110%;
    background: #2ed573;
    box-shadow: 3px 3px 10px rgba(119, 119, 119, 0.5);
    border: .1rem solid #fff;
}

nav a{
    list-style: none;
    padding: 35px;
color: #fff;
font-size: 1.1em;
display: block;
transition: all .3s ease-in-out;
}

nav a:hover{
    color: #10ac84;
    cursor: pointer;
    transform: scale(1.2);
}

nav a:first-child{
    margin-top: 7px;
}

nav a.active{
    color: #10ac84;
}

.rightbox{
width: 60%;
margin-left: 27%;
}

.tabshow{
    transition: all .5s ease-in;
    width: 80%;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: #7ed386;
    font-size: 1.2rem;
    margin-top: 30px;
    margin-bottom: 20px;
}

h2{
    color: #777;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 8px;
    letter-spacing: 1px;
    margin-left: 2px;
    margin-top: 10px;
}

.input {
    border: 0;
    border-bottom: 1px solid #3fb6a8;
    width: 80%;
    font-family:'Courier New', Courier, monospace;
    font-size: .7rem;
    padding: 7px 0;
    color: #070707;
    outline: none;
}



.btn{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    border: 0;
    color: #fff;
    background: #7ed386;
    padding: 7px 15px;
    margin-top: 15px;
}